Souci "availability + resource download" sur un dataset

Voir:
- https://mattermost.incubateur.net/betagouv/pl/izhwfb39dirk7qdmz1fc6bqgxh

Ticket CleverCloud -> ref non trouvable de mon côté.

Ticket chez Clever Cloud : #EPE4G7

Méthode concernée : `HEAD` sur `ResourceController#download` https://github.com/etalab/transport-site/blob/268510fcc34a08ac1070302dc284757b291d6aa4/apps/transport/lib/transport_web/controllers/resource_controller.ex#L267

Survient uniquement pour [Réseau urbain TCAT](https://transport.data.gouv.fr/datasets/donnees-tcat-troyes-champagne-metropole-1) (Troyes)
---

Nous investiguons actuellement une réponse HTTP qui nous parait incohérente. L'avancement actuel de notre enquête semble indiquer qu'il soit possible que le load balancer de Clever Cloud transforme notre réponse originale, peut-être est-elle malformée ?

Voici les éléments.

Depuis Internet

$ curl -I https://transport.data.gouv.fr/resources/81542/download 
HTTP/1.1 502 Bad Gateway
Cache-Control: no-cache
Connection: close

la réponse attendue est une 200.

En se connectant en SSH sur l'application prod-site et en requêtant directement le serveur web, j'obtiens bien une 200.


$ curl -I -H "host: transport.data.gouv.fr" --user-agent "clever-cloud-test-df808ed8-ca4d-4038-9a56-bdaa626df865" http://127.0.0.1:8080/resources/81542/download
HTTP/1.1 200 OK
...
x-request-id: F6ztH1_szUjN8rMABUQj
...

Réponse très détaillée de Clever Cloud.

---

Bonjour, l'origine des erreurs 502 que vous observez est la présence de 2 headers d'information de longueur sur vos réponses à certaines requêtes HEAD. Par exemple une requête HEAD sur http://transport.data.gouv.fr:8080/resources/81542/download renvoie :
```
HTTP/1.1 200 OK
cache-control: max-age=0, private, must-revalidate
content-length: 0
content-security-policy: ...
content-type: application/octet-stream
date: Tue, 23 Jan 2024 13:24:05 GMT
referrer-policy: strict-origin-when-cross-origin
server: Cowboy
transfer-encoding: chunked
x-content-type-options: nosniff
x-download-options: noopen
x-frame-options: SAMEORIGIN
x-permitted-cross-domain-policies: none
x-request-id: F6z8vKRTIz89TP0ARXoi
x-robots-tag: noindex, nofollow
set-cookie: ...
```
notez la présence du header content-length: 0 et transfer-encoding: chunked.

La RFC 2616 section 4.4 (https://datatracker.ietf.org/doc/html/rfc2616#section-4.4) point 3 indique :

If a Content-Length header field (section 14.13) is present, its 

decimal value in OCTETs represents both the entity-length and the

transfer-length. The Content-Length header field MUST NOT be sent

if these two lengths are different (i.e., if a Transfer-Encoding

header field is present). If a message is received with both a

Transfer-Encoding header field and a Content-Length header field,

the latter MUST be ignored.
Ce paragraphe stipule simultanément que votre serveur ne doit pas envoyer cette combinaison de headers et que notre reverse proxy doit ignorer le content-length dans ces cas là. Le comportement de notre reverse proxy sera mis à jour en conséquence dans les semaines à venir. Mais nous vous invitons à corriger le problème de votre côté également.


La raison pour laquelle d'autres requêtes du même genre fonctionnent comme https://transport.data.gouv.fr/resources/79167/download est que les réponses à ces requêtes contiennent uniquement le header content-length: 0 et aucun transfer-encoding.


D'un point de vue du respect des RFC nous aimerions faire remonter 2 autres points connexes au souci de headers:


Premièrement, votre serveur semble inclure systématiquement le header content-length: 0 dans les réponses aux requêtes HEAD comme pour signaler que la réponse à une telle requête ne porte pas de body (ce qui est le cas par définition de la méthode HEAD). De plus la RFC 9110 section 8.6-6 (https://datatracker.ietf.org/doc/html/rfc9110#section-8.6-6) indique :

A server MAY send a Content-Length header field in a response to a

HEAD request (Section 9.3.2); a server MUST NOT send Content-Length

in such a response unless its field value equals the decimal number of

octets that would have been sent in the content of a response if the

same request had used the GET method.
Vos réponses ne devraient donc pas porter de header content-length ou bien répéter celui qu'aurait renvoyé une réponse à une requête GET équivalente.


Deuxièmements votre serveur semble parfois ajouter le header problématique transfer-encoding: chunked alors que celui-ci n'est pas présent dans la réponse à la requête GET :

```
HTTP/1.1 200 OK
cache-control: max-age=0, private, must-revalidate
content-disposition: attachment; filename="Alert.pb"
content-length: 176
content-security-policy: ...
content-type: application/octet-stream
date: Tue, 23 Jan 2024 13:46:18 GMT
referrer-policy: strict-origin-when-cross-origin
server: Cowboy
x-content-type-options: nosniff
x-download-options: noopen
x-frame-options: SAMEORIGIN
x-permitted-cross-domain-policies: none
x-request-id: F6z98uvgyY2IqgEAS8tC
set-cookie: ...
```
Notez ici la valeur non nulle de content-length: 176 et l'absence du header transfer-encoding. Il est également intéressant d'observer qu'un content-disposition est présent ici, mais pas dans son équivalent HEAD (ce comportement est toutefois valide et potentiellement préférable).


Si l'erreur de content-length a l'air systématique, il n'en ai pas de même pour le transfer-encoding qui est ajouté sur certaines réponses, mais pas sur d'autres. La raison de sa présence ou absence m'est inconnue et doit être liée au fonctionnement interne d'Apache ou Cowboy ou de leur configuration. Une piste potentielle est le header content-type qui vaut text/csv pour la ressource qui fonctionne et application/octet-stream pour la ressource qui renvoie une 502 (mais ce n'est rien de plus qu'une intuition).


J'espère avoir été suffisamment clair et vous avoir apporté toutes les informations nécessaires à la compréhension du problème.

Pour nettoyer les données, il faut supprimer l'indisponibilité, les scores de disponibilité des ressources et le fait qu'on ait envoyé une notification au producteur.

```sql
delete
from resource_unavailability ru
where ru.resource_id in (81542, 81543, 81544);
-- DELETE 3

delete
from notifications n
where n.dataset_id = 91 and n.reason = 'resource_unavailable' and n.inserted_at::date = '2024-01-17';
-- DELETE 1

update dataset_score set score = 1.0, details = '{"resources": [{"raw_measure": null, "resource_id": 79847, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81542, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81543, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81544, "availability": 1.0}, {"raw_measure": null, "resource_id": 79747, "availability": 1.0}], "previous_score": 1.0}'
where dataset_id = 91 and topic = 'availability' and timestamp::date >= '2024-01-18'
-- UPDATE 6

update dataset_score set score = 1.0, details = '{"resources": [{"raw_measure": null, "resource_id": 79847, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81542, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81543, "availability": 1.0}, {"raw_measure": 100, "resource_id": 81544, "availability": 1.0}, {"raw_measure": null, "resource_id": 79747, "availability": 1.0}], "previous_score": 0.9999999411469912}'
where dataset_id = 91 and topic = 'availability' and timestamp::date = '2024-01-17'
-- UPDATE 1
```